.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem;
}

.header {
    margin: 0;
    padding: 0;
    border: 2px solid #AAAAAA;
}

.header__logo_container {
    gap: 10px;
}

.header__tittle {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}

.header__logo {
    width: 70px;
    height: fit-content;
    object-fit:cover;
}

.header__logo img {
    width: 100%;
    object-fit: cover;
    padding: 0;
    margin: 0;
}