.radio_button {
    padding: 10px;
    transition: 0.1s all ease-in-out;
    font-size: 19px;
}

.radio_button__selected {
    border-bottom: 3px solid #074EE8;
    color: #074EE8;
}

.radio_button__unselected {
    color: #A4A4A4
}

.radio_button input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}