.history_page {
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
    height: 99%;
    width: 98%;
    gap: 30px;
    padding: 0 10px;
}

.history_card {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: fit-content;
    border: solid 2px black;
    border-radius: 12px;
    padding: 20px 30px 20px 10px;
    gap: 20px;
}

.buttons_container{
    display: flex;
    gap: 10px;
}