.playground_code {
    height: 100%;
}

.code_editor_container {
    height: 30%;
    padding: 50px 100px;
}

.playground_code__title {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 20px;
    margin: 0 0 20px 0;
}

.playground_code__code_container {
    display: flex;
    align-items: start;
    gap: 20px;
    height: 90%;
    overflow-y: auto;
}

.playground_code__code_container button {
    margin-top: 4px;
}

.validator_message {
    display: flex;
    flex-direction: column;
    gap: 30px;
    /* padding: 20px 100px; */
    padding: 20px 100px 0 100PX;
    border-top: solid 5px #AAAA;
    overflow-y: auto;
    max-height: 55%;
    height: 100%;
}

.validator_message h2 {
    font-size: 30px;
    font-weight: 600;
}

.validator_message__title_container {
    display: flex;
    align-items: center;
    gap: 30px;
}

.validator_message__title_container__between {
    justify-content: space-between;
}

.validator_message h2 {
    margin: 0;
}

.tree_popup {
    position: relative;
    width: 97vw;
    height: 91vh;
}

.tree_popup__button {
    position: absolute;
    bottom: 0;
    right: 0;
}

.small_tree {
    
}